<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://devemmystaffassignmentfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/88c1db95-eba4-42e3-931b-690d5aa1a3c5/resourceGroups/DevEmmy-RG/providers/Microsoft.Web/sites/DevEmmyStaffAssignmentFunctionApp</ResourceId>
    <UserName>$DevEmmyStaffAssignmentFunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://devemmystaffassignmentfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>